In [11]:
from PIL import Image
import torch
import os
from torchvision.datasets import ImageFolder
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [29]:
image_csv = pd.read_csv("Origin_Data/csv_mh/mh.csv")

In [30]:
image_csv.head()

       image        xmin        ymin         xmax        ymax         label
0  01503.jpg    4.155642    5.975104   500.217899  670.207469  squid_peanut
1  01503.jpg  454.396887   83.153527   855.657588  351.535270         cidar
2  01503.jpg  332.700389  328.630705   573.929961  699.087137          coke
3  01503.jpg  651.455253  234.024896   957.517510  594.522822   diget_choco
4  01503.jpg  736.124514  231.037344  1242.147860  868.381743   homerunball

In [33]:
label_class = sorted(image_csv['label'].unique(), key=lambda x: x[0])
print(label_class)

['ID_gum', 'buttering', 'cidar', 'coke', 'couque_white', 'chocopie', 'couque_coffee', 'diget_choco', 'diget_ori', 'gumi_gumi', 'homerunball', 'jjolbyung_ori', 'juicyfresh', 'jjolbyung_noodle', 'squid_peanut', 'samdasu', 'spearmint', 'toreta', 'tuna', 'vita500', 'welchs', 'zec']

In [34]:
def make_folder(directory):
    if not os.path.isdir(directory):
        os.mkdir(directory)

dir_path = os.path.join(os.getcwd(), 'Crop_Data/')
for tag in label_class:
    make_folder(os.path.join(dir_path, tag))

In [49]:
data_path = os.path.join(os.getcwd(), 'Origin_Data\\csv_mh\\temp\\')
crop_path = os.path.join(os.getcwd(), 'Crop_Data\\')

for data in image_csv.values:
    name, xmin, ymin, xmax, ymax, label = data[0], data[1], data[2], data[3], data[4], data[5]
    area = (xmin, ymin, xmax, ymax)
    
    img = Image.open(os.path.join(data_dir, name))
    cropped_img = img.crop(area)
    
    label_tag = label + '_' + name.split('.')[0]
    label_path = label + '\\'
    crop_label_path = os.path.join(crop_path, label_path)
    cropped_img.save(os.path.join(crop_label_path, label_tag + '.jpg'))